/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

//additions// 

.hero { 
    background-image: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
    url('../../images/home-hero.jpg');
    background-size: cover, cover;
    background-repeat: no-repeat; 
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
		img {
			width: 275px; 
			height: 275px;
		}
}

//about

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
}

.entry-content h2 {
		font-family: $font__header;
		text-transform: uppercase;
		text-align: center;
}

.day {
	font-weight: bold;
	font-style: normal;
}

.frontpage-entries {
	display: flex;
	flex-direction: row wrap;
}

.container h2 {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-family: $font__header;
}


.post-info {
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
}

.product-image-wrapper {
	width: 48%;
}

.single.single-post .site-content {
	display: flex; 
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
	padding-top: 50px;
}

.single.single-post .content-area {
	width: 73%;
	padding-right: 5%;
}

.single.single-post .entry-header {
	position: relative;
		h1 {
			margin-top: 2.25rem;
			max-width: 75%;
			font-family: $font__header;
			text-transform: uppercase;
			color: $color__reverse;
		}
		img {
			max-width: 100%;
			height: auto;
		}
}

.single.single-post .entry-meta {
	background-color: $color__link;
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 0;
	text-transform: uppercase;
}

.single.single-post .entry-title {
	background-color: $color__link;
	display: inline-block;
	left: 0;
	position: absolute;
}

.widget-area {
	width: 27%;
	padding-left: 5%;
	text-decoration: none;
		h2 {
			font-family: $font__header;
			text-transform: uppercase;
			font-size: 2rem;
		}
}

.widget_archive {
	text-decoration: none;
}

.widget_archive ul {
	list-style: none;
	margin: 0 0 3rem;
}

.entry-footer {
	text-transform: uppercase;
	font-family: $font__header;
}

.single-product .site-content {
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
}


.single-product .content-area {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	padding-bottom: 3rem;
		img {
			height: auto;
			max-width: 100%;
		}
}

.single-product .product-content-wrapper {
	width: 48%;
}

//SHOP STUFF PAGE 

.archive .page-title {
	font-family: $font__header;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

//Front Page Journal

.home.blog .container {
	margin-right: auto;
	margin-left: auto;
	width: 1120px;
		h2 {
			text-align: center;
		}
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 1120px;
			padding-left: 0;
			margin-left: 0;
			margin-bottom: 0;
				li {
					flex: 0 1 32%;
					border: 1px solid black;
					text-transform: uppercase;
					font-family: $font__main;
					position: relative;
						.post-info {
							font-size: 0.75rem;
							padding: 0.75rem;
						}
						h3 {
							font-size: 1.3rem;
							font-family: $font__header;
							line-height: 1.5rem;
							margin-top: 0;
							letter-spacing: 2px;
							a {
								text-decoration: none;
							}
						}
						img {
							height: 250px;
							max-width: 100%;
							position: relative;
						}
				}
		}
}

.home.blog .site-content {
	// text-align: center;
}

.home .read-button {
	border: 1px solid $color__border;
	position: absolute;
	left: 0.75rem;
	bottom: 0.75rem;
	font-family: $font__header;
	font-size: 0.9rem;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
}

.button:hover {
	background-color: $color__link;
}