/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

//additions// 

.hero { 
    background-image: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
    url('../../images/home-hero.jpg');
    background-size: cover cover;
    background-repeat: no-repeat; 
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
		img {
			width: 275px; 
			height: 275px;
		}
}

//about

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1120px;
}

.entry-content h2 {
		font-family: $font__header;
		text-transform: uppercase;
		text-align: center;
}
