/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
	font-family: 'Merriweather';
	src: url('../../fonts/MerriweatherLight.eot');
	src: url('../../MerriweatherLight.eot?#iefix') format('embedded-opentype'),
		url('../../MerriweatherLight.woff') format('woff'),
		url('../../MerriweatherLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../Merriweather-LightIt.eot');
	src: url('../../Merriweather-LightIt.eot?#iefix') format('embedded-opentype'),
		url('../../Merriweather-LightIt.woff') format('woff'),
		url('../../Merriweather-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../Merriweather-Bold.eot');
	src: url('../../Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../Merriweather-Bold.woff') format('woff'),
		url('../../Merriweather-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../../Merriweather-BoldItalic.eot');
	src: url('../../Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../../Merriweather-BoldItalic.woff') format('woff'),
		url('../../Merriweather-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


//

@font-face {
    font-family: 'Novecentosanswide-DemiBold';
    src: url('../fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecentosanswide-Normal';
    src: url('../fonts/Novecentosanswide-Normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}