.site-info {
    font-family: $font__main;
    font-weight: 300;
	font-style: normal;
    color: $color__background-body;
    background-image: url('../../images/dark-wood.png');
    background-size: 512px 512px;
    height: 355px;
}

.site-info h3 {
    font-family: $font__header;
    color: $color_footer_header;
    text-transform: uppercase;
}

.footer-info-container {
    width: 1120px;
    display: flex; 
    justify-content: space-between;
    margin: auto;
}


.contact {
    width: 25%;
}

.hours {
    width: 25%;
}

.copyright {
    text-align: center;
    height: 28px;
}

.text_logo {
    width: 560px;
    height: 58px;
    img {
        max-width: 50%;
    }
    
}