.site-info {
    font-family: $font__main;
    font-weight: 300;
	font-style: normal;
    color: $color__background-body;
    background-image: url('../../images/dark-wood.png');
    background-size: 512px 512px;
    height: 355px;
}

.site-info h3 {
    font-family: $font__header;
    color: $color_footer_header;
    text-transform: uppercase;
}

.footer-info-container {
    width: 1120px;
    height: 278px;
    display: flex; 
    justify-content: space-between;
    margin: auto;
}


.contact {
    width: 25%;
    margin: 3rem 0;
}

.hours {
    width: 25%;
    margin: 3rem 0;
}

.copyright {
    text-align: center;
    height: 28px;
    font-family: $font__header;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    padding: 1.5rem 0;
}

.text_logo {
    width: 560px;
    height: 58px;
    text-align: right;
    margin: 3rem 0;
    img {
        max-width: 50%;
        height: auto;
    }
    
}

.day {
	font-weight: bold;
	font-style: normal;
}

.footer-info-container .contact i {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}
