.site-header {
    margin-top: 0px;
        
}

// .navigation-container {
//     display: flex;
//     width: 1120px;
//     position: fixed;
//     top: 0;
//     padding: 10px;
//     margin: auto;
//         li {
//             padding-left: 30px;
//             font-weight: 300;
//             font-style: normal;
//                 a {
//                     color: $color__nav-reverse;
                    
//                 }
//         }
// }

.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
        li {
            padding-left: 30px;
        }
}

.white-logo-tent {
    width: 50px;
    height: 33px;
    justify-content: flex-start;
}


.site-header {
    display: flex;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    
}