/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

//NAVIGATION BAR 


.site-header {
	position: fixed;
	z-index: 99999;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-bottom: 1px solid $color__rule;
	background-color: hsla(0, 0%, 100%, 0.85);

	.container {
		width: 1120px;
		display: flex;
		justify-content: space-between;
	}

	.search-container {
		display: flex;
	}


	.search-field { 
		display: none; 
		align-content: flex-end;
		border: 0;
		background-color: transparent;
		outline: none;
		text-transform: uppercase;
		font-family: $font__header;
		line-height: 1;
		padding-left: 10px;

	.screen-reader-text {
		border: none;
		border-radius: 0;
	}

	}
}

.home .site-header.scrolled {
	background-color: transparent;
	transition: background-color 200ms linear;
}

.main-navigation-container {
	display: flex;
	justify-content: flex-end;
}

.main-navigation {
	font-family: $font__header;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
	// align-content: flex-end;
	width: 75%;
		 a{
			 color: $color__link;
		 }
}

.menu-main-menu-container {
	padding-right: 20px;
}

.site-branding {
	.tent-logo {
		width: 50px;
		height: 33px;
	}
}

.search-submit { @extend .screen-reader-text; }

.field-set {
	border: 0;
	margin: 0;
}

.search-toggle {
	color: $color__link;
}