/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.hero { 
    background-image: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
    url('../../images/home-hero.jpg');
    background-size: cover, cover;
    background-repeat: no-repeat; 
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
		img {
			width: 275px; 
			height: 275px;
			margin-left: auto;
			margin-right: auto;
		}
}

.shop-container h2, 
.journal-container h2 {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-family: $font__header;
	font-weight: normal;
	font-style: normal;
	color: $color_header;
	text-align: center;
	letter-spacing: 2px;
}

.shop-container {
	margin-right: auto;
	margin-left: auto;
	width: 1120px;
	margin-bottom: 4.5rem;
}

.home .product-type-grid {
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 1120px;
	padding: 0.75rem;
		p {
			margin-bottom: 1.5rem;
		}

}

.home .product-type-box {
	flex:0 1 23.5%;
	width: 23.5%;
	border: 1px solid $color_rule;
	border-top-width: 5px;
	padding: 0.75rem;
	img {
		width: 70px;
		height: 70px;
	}
	a:hover,
	a:visited {
		color: $color__reverse;
	}
}

.home .product-type-button {
	background-color: $color__link;
	color: $color__reverse;
	font-family: $font__header;
	font-weight: normal;
    font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.75rem 1.5rem;
	font-size: 0.9rem;
}


.home .journal-container {
	margin-right: auto;
	margin-left: auto;
	width: 1120px;
	margin-bottom: 4.5rem;
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 1120px;
			padding-left: 0;
			margin-left: 0;
			margin-bottom: 0;
				li {
					flex: 0 1 32%;
					border: 1px solid black;
					text-transform: uppercase;
					font-family: $font__main;
					position: relative;
						.post-info {
							font-size: 0.75rem;
							padding: 0.75rem;
						}
						h3 {
							font-size: 1.3rem;
							font-family: $font__header;
							font-weight: normal;
							font-style: normal;
							line-height: 1.5rem;
							margin-top: 0;
							letter-spacing: 2px;
							margin-bottom: 3.75rem;
							a {
								text-decoration: none;
								color: $color__link;
							}
							a:hover {
								color: $color__text-main;
							}
						}
						img {
							height: 250px;
							max-width: 100%;
							position: relative;
						}
				}
		}
}

.frontpage-entries {
	display: flex;
	flex-direction: row wrap;
}

.shop-heading {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-family: $font__header;
}

//SHOP STUFF//

.product-type-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1120px;
        .cproduct-type-box {
            flex-basis: 25%;
        }
        .img {
            width: 70px;
            height: 70px;
        }
}

//PRODUCT-TYPE PAGE

.tax-product-type .page-title {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-family: $font__header;
	font-weight: bold;
    font-style: normal;
}

.tax-product-type .taxonomy-description {
	text-align: center;
	border-bottom: 1px dashed $color_rule;
	margin-bottom: 1.5rem;
}

.product-grid {
	display: flex;
    justify-content: space-between;
    text-align: center;
   	margin-bottom: 1.5rem;
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

.product-box {
	flex: 0 1 23%;
	width: 23%;
	margin-bottom: 1.5rem;
	border: 1px solid $color_rule;
		h2 {
			font-size: 1rem;
			font-family: $font__main;
			font-weight: normal;
			font-style: normal;
		}
		p {
			text-decoration: none;
		}
}

.product-box .wp-post-image {



	left: 50%;
}



// JOURNAL

.blog .entry-header h2 {
	background-color: $color__link;
	color: $color__reverse;
	font-family: $font__header;
	text-transform: uppercase;
	font-size: 2rem;
	left: 0;
	// margin: 0.75rem 1.5rem; need this?
	position: absolute;
		a {
			text-decoration: none;
		}

}