/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.hero { 
    background: 
    linear-gradient(180deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
    url('../../images/home-hero.jpg');
    background-size: cover, cover;
    background-repeat: no-repeat; 
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
		img {
			width: 275px; 
			height: 275px;
			margin-left: auto;
			margin-right: auto;
		}
}

.shop-container {
	margin-right: auto;
	margin-left: auto;
	width: 1120px;
	margin-bottom: 3rem;
}

.home .product-type-grid {
	display: flex;
	justify-content: space-between;
	text-align: center;
	width: 1120px;
		p {
			margin-bottom: 1.5rem;
		}

}

.home .product-type-box {
	flex:0 1 23.5%;
	max-width: 23.5%;
	border: 1px solid $color__rule;
	border-top-width: 5px;
	padding: 0.75rem;
	img {
		width: 70px;
		height: 70px;
	}
	a:hover,
	a:visited {
		color: $color__reverse;
	}
}

.home .product-type-button {
	background-color: $color__link;
	color: $color__reverse;
	font-family: $font__header;
	font-weight: normal;
    font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.75rem 1.5rem;
	font-size: 0.9rem;
}

//SHOP,JOURNAL, ADVENTURES
.home h2 {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-family: $font__header;
	font-weight: normal;
	font-style: normal;
	color: $color__header;
	text-align: center;
	letter-spacing: 2px;
}

//JOURNAL CONTAINER 
.home .journal-container {
	margin-right: auto;
	margin-left: auto;
	width: 1120px;
	margin-bottom: 4.5rem;
	ul {
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1120px;
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 0;
		margin-top: 3rem;
			li {
				flex: 0 1 32%;
				max-width: 32;
				border: 1px solid black;
				text-transform: uppercase;
				font-family: $font__main;
				position: relative;
					.post-info {
						font-size: 0.75rem;
						padding: 0.75rem;
					}
						h3 {
							font-size: 1.3rem;
							font-family: $font__header;
							font-weight: bold;
							font-style: normal;
							line-height: 1.5rem;
							margin-top: 0;
							letter-spacing: 2px;
							margin-bottom: 3.75rem;
							a {
								text-decoration: none;
								color: $color__link;
							}
							a:hover {
								color: $color__text-main;
							}
						}
						img {
							height: 250px;
							max-width: 100%;
							position: relative;
						}
				}
		}
}

.frontpage-entries {
	display: flex;
	flex-direction: row wrap;
}

//LATEST ADVENTURES CONTAINER

.home .adventure-container {
	margin-right: auto;
	margin-left: auto;
	width: 1120px;
	margin-bottom: 4.5rem;
	height: 100vh;
}

//Front Page Journal

.home .read-button {
	border: 1px solid $color__border;
	position: absolute;
	left: 0.75rem;
	bottom: 0.75rem;
	font-family: $font__header;
	font-size: 0.9rem;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
		a {
			color: $color__border;
		}
}

.button:hover {
	background-color: $color__link;
}

.shop-heading {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-family: $font__header;
}

//LATEST ADVENTURES 


// .adventure-posts {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	justify-content: space-between;
// 	width: 100%;
// 	list-style: none;
// 	padding-left: 0;
// 	width: 1120px;
// 	margin-left: auto;
// 	margin-right: auto;
// 	 h3 {
// 		font-size: 3rem;
// 		color: #fff;
// 		font-weight: 300;
// 		font-style: normal;
// 		line-height: 1;
// 	 }
// 	 .canoe {
// 		 max-width: 50%;
// 		 height: 100vh;
// 		 position: relative;
// 		 bottom: 0;
// 		 left: 0;
// 	 }
// 	 .mountains {
// 		max-width: 50%;
// 		height: 50%;
// 	 }
// 	 .friends {
// 		max-width: 50%;
// 		height: 50%;
// 	}
// 	.night-sky {
// 		max-width: 25%;
// 		height: 50%;
// 	}
// }

// .adventure-posts {
// 	display: flex;
// 	flex-flow: row wrap;
// 	width: 100%;
// 	height: 540px;
// 	padding: 0.75rem;
// 	background-color: blue;
// 	list-style: none;
// 	margin: 0;
	
// }


// .friends {
// 	background: url('../../images/adventure-photos/beach-bonfire.jpg') no-repeat;
// 	background-size: cover;
// 	max-width: calc(100% / 2);
// 	height: 50%;
// }
// .mountain {
// 	background-image: url('../../images/adventure-photos/mountain-hikers.jpg');
// 	max-width: calc(100% / 3);
// 	height: 50%;
// }
// .night-sky {
// 	background-image: url('../../images/adventure-photos/night-sky.jpg');
// 	max-width: calc(100% / 3);
// 	height: 50%;
// }

//ABOUT PAGE 

.page-template-about {
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 1120px;
		font-size: 1rem;
	}
	
	// .entry-title {
	// 	font-family: $font__header;
	// 	text-transform: uppercase;
	// 	text-align: center;
	// 	color: $color__reverse;
	// 	font-size: 3rem;
	// 	margin-top: auto;
	// 	margin-bottom: auto;
	// }

	.entry-content {
		max-width: 800px;
		margin: 3rem auto;
		line-height: $font__line-height-body;
		h2 {
			font-family: $font__header;
			text-transform: uppercase;
			text-align: center;
			font-size: 2rem;
		}	
	} 

	.entry-header {
		.container {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

//SHOP STUFF//

.product-type-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1120px;
        .product-type-box {
            flex-basis: 25%;
        }
        .img {
            width: 70px;
            height: 70px;
        }
}


//PRODUCT-TYPE PAGE

.tax-product-type {
	.page-title {
		margin-top: 0;
		margin-bottom: 1.5rem;
		font-family: $font__header;
		font-weight: bold;
		font-style: normal;
	}
	.taxonomy-description {
		text-align: center;
		border-bottom: 1px dashed $color__rule;
		margin-bottom: 1.5rem;
	}
}

.product-grid {
	display: flex;
    justify-content: space-between;
    text-align: center;
   	margin-bottom: 1.5rem;
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

.product-box {
	width: 23%;
	flex: 0 1 23%;
	margin-bottom: 1.5rem;
	border: 1px solid $color__rule;
		h2 {
			font-size: 1rem;
			font-family: $font__main;
			font-weight: normal;
			font-style: normal;
		}
		p {
			text-decoration: none;
		}
}

.product-box .wp-post-image {
	left: 50%;
}


//ARCHIVE PRODUCTS PAGE 

.post-type-archive {
	.archive-product-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;
		   margin-bottom: 1.5rem;
		width: 1120px;
		margin-left: auto;
		margin-right: auto;
	}

	.archive-product-box {
		flex: 0 1 23%;
		width: 23%;
		margin-bottom: 1.5rem;
		border: 1px solid $color__rule;
	}	

	.entry-header {
		height: 250px;
		background-color: $color__rule;
		position: relative;
		overflow: hidden;
		img.wp-post-image {
			max-height: 250px;
			position: absolute;
			max-width: none;
			top: 0;
			left: 0;
			width: auto;
			}
	}
}


.post-type-archive,
.tax-product-type {
	.entry-content {
		padding: 0;
		.entry-title {
			font-size: 1rem;
			font-family: $font__main;
			font-weight: 300;
			font-style: normal;
			margin-left: 0;
			display: inline;
			text-align: left;
			line-height: $font__line-height-body;
			background: $color__reverse; 	
		}
		.price {
			float: right;
			background: $color__reverse; 
		}
	}
	
	//DOT LEADERS 
	ul.leaders {
		max-width: 100%;
		padding: 0;
		overflow-x: hidden;
		list-style: none;
		padding: 0.75rem 1.5rem 0 1.5rem;
		margin-left: 0;
	}
	ul.leaders li:after {
		float: left;
		width: 0;
		white-space: nowrap;
		content:
	 ". . . . . . . . . . . . . . . . . . . . "
	 ". . . . . . . . . . . . . . . . . . . . "
	 ". . . . . . . . . . . . . . . . . . . . "
	 ". . . . . . . . . . . . . . . . . . . . "}
	ul.leaders span:first-child {
		margin: 0;
		background: white}
	ul.leaders span + span {
		float: right;
		// padding-left: 0.33em;
		background: white;
		position: relative;
		z-index: 1
	}
}



// JOURNAL

.blog {

	.entry-header {
		position: relative; 
			
		h2 {
			background-color: $color__link;
			color: $color__reverse;
			font-family: $font__header;
			text-transform: uppercase;
			font-size: 2rem;
			left: 0;
			position: absolute;		
		}
		}	
	}

	.img {
		height: auto;
		max-width: 100%;
	}

	.read_more {
		border: 1px solid $color__border;
		// position: absolute;
		left: 0.75rem;
		bottom: 0.75rem;
		font-family: $font__header;
		font-size: 0.9rem;
		padding: 0.75rem 1.5rem;
		text-decoration: none;
			a {
				color: $color__border;
			}
			.button-hover {
				background-color: $color__link;
			}
		}

			

.blog,
.single.single-post {

	.entry-header {
		position: relative;
	}
	.wp-post-image {
	
	}
	h1 {
		position: absolute;
		top: 0;
		left: 0;
		font-family: $font__header;
		background-color: $color__link;
		color: $color__reverse;
		margin-top: 2.25rem;
		max-width: 75%;
		text-transform: uppercase;
		padding: 0.75rem 2.5rem 0.75rem 1.5rem;
		line-height: 2.5rem;
	}

	.entry-meta {
		background-color: $color__link;
		color: $color__reverse;
		width: 50%;
		position: absolute;
		margin-right: 0;
		bottom: 0;
		right: 0;
		margin-bottom: 0.5rem;
		text-align: center;
		font-family: $font__header;
		font-size: 1rem;
		text-transform: uppercase;
	}
		a {
			color: $color__link;
		}
		.comments-link a {
			color: $color__reverse;
		}

}

.blog .read-button {
	border: 1px solid $color__border;
	position: absolute;
	left: 0.75rem;
	bottom: 0.75rem;
	font-family: $font__header;
	font-size: 0.9rem;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
		a {
			color: $color__border;
		}
		.button:hover {
			background-color: $color__link;
		}
}

//ADVENTURES 

.adventures-container {
	padding-bottom: 4.5rem;
}

.adventures {
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	height: 540px;
	justify-content: space-between;
	position: relative;

	h3 {
		color: $color__reverse;
		font-weight: 400;
		letter-spacing: 2px;
		line-height: 3rem;
	}

	.read-button-adv{
		border: 1px solid $color__reverse;
		position: absolute;
		left: 0.75rem;
		bottom: 0.75rem;
		font-family: $font__header;
		font-size: 0.9rem;
		padding: 0.75rem 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
		color: $color__reverse;
			a {
				color: $color__reverse;
			}
			.button-hover {
				background-color: $color__link;
			}
		}

	.canoe {
		width: 50%;
		height: auto;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
		url('../../images/adventure-photos/canoe-girl.jpg') no-repeat;
		background-size: cover;
		box-sizing: border-box;
		padding: 1.5rem;
		border-right: 10px solid $color__reverse;

		h3 {
			font-size: 3rem;
			margin: 1.5rem;
		}
	}
	
	.adventure-box-2 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 50%;
			
		.friends {
			width: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
			url('../../images/adventure-photos/beach-bonfire.jpg') no-repeat;
			background-size: cover;
			margin-bottom: 10px;
			position: relative;
			box-sizing: border-box;
			padding: 1.5rem;
			border-left: 10px solid $color__reverse;

			h3 {
				font-size: 2.4rem;
			}
		}

		.mountain {
			width: 50%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
			url('../../images/adventure-photos/mountain-hikers.jpg') no-repeat;
			background-size: cover;
			position: relative;
			box-sizing: border-box;
			padding: 1.5rem;
			border-right: 10px solid $color__reverse;
			border-left: 10px solid $color__reverse;
			border-top: 10px solid $color__reverse;
			

			h3 {
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}

		.night-sky {
			width: 50%;
			background: url('../../images/adventure-photos/night-sky.jpg') no-repeat;
			background-size: cover;
			position: relative;
			box-sizing: border-box;
			padding: 1.5rem;
			border-top: 10px solid $color__reverse;
			border-left: 10px solid $color__reverse;

			h3 {
				font-size: 1.6rem;
				line-height: 2rem;
			}

		}
	}
}