/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	h2 {
		margin-bottom: 1.5rem;
		color: $color_header;
	}

	i {
		width: 20px;
		margin-right: 0.5rem; 
		line-height: 1.8rem;
	}

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	a {
		color: $color__link;
		font-family: $font__main;
		font-weight: 300;
		font-style: normal;
	}

	p {
		margin-bottom: 0.5rem;
	}

}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
